.form {
	width: 300px;
	max-width: 100%;
}

.registrationLink {
	color: var(--color-grey);
	font-weight: 700;
	font-size: 14px;
	margin-top: 15px;
}

.button {
	margin-top: 15px;
}

.input {
	margin: 30px 0;
}
