.root {
    background: var(--color-blue);
    border-radius: 32px;
    height: 65px;
    line-height: 65px;
    white-space: nowrap;
    border: none;
    appearance: none;
    color: var(--color-white);
    text-align: center;
    font-size: 18px;
    min-width: 230px;
    cursor: pointer;
}

.root:focus,
.root:target {
    outline: none;
}

.root:hover {
    opacity: 0.8;
}