{{#> layout_main}}
    {{#* inline "header"}}Registration{{/inline}}
    {{#* inline "content"}}
        <div class="{{ pageStyles.root }}">
            <div class="{{ pageStyles.fields }}">
                {{> input type="text" name="first_name" label="First name" class=pageStyles.firstName}}
                {{> input type="text" name="second_name" label="Second name" class=pageStyles.secondName}}
                {{> input type="text" name="login" label="Login" class=pageStyles.login}}
                {{> input type="text" name="email" label="Email" class=pageStyles.email}}
                {{> input type="text" name="phone" label="Phone" class=pageStyles.phone}}
                {{> input type="password" name="password" label="Password" class=pageStyles.password}}
                {{> input type="password" name="password2" label="Repeat password" class=pageStyles.repeatPassword}}
            </div>
            <div class="{{ pageStyles.button }}">
                {{> button text="Create account" }}
            </div>
            <div class="{{ pageStyles.registrationLink }}">Do you have a account? <a href="#login">Log in</a></div>
        </div>
    {{/inline}}
{{/layout_main}}