{{#> layout_main}}
    {{#* inline "header"}}404{{/inline}}
    {{#* inline "content"}}
        <div class="{{ pageStyles.text }}">Page not found</div>
        <a href="#">Back to chats ></a>
    {{/inline}}
{{/layout_main}}