.page {
    font-family: "Roboto", sans-serif;
    background-image: linear-gradient(90deg, var(--color-dark) 60%, transparent), url("~/static/bg.svg");
    color: var(--color-white);
    min-height: 100vh;
    padding: 30px 100px;
}

.header {
    margin-bottom: 50px;
}

.h1 {
    font-size: 42px;
}

.h1::after {
    content: '.';
    color: var(--color-blue);
    display: inline-block;
    margin-left: 3px;
}