:root {
    --font-main: 'Roboto', sans-serif;
    --font-logo: 'Roboto Slab', serif;

    --color-white: #FFF;
    --color-dark: #282A36;
    --color-blue: #1D90F4;
    --color-light-grey: #C4C4C4;
    --color-grey: #637889;
    --color-dark-grey: #323645;
}

* {
    box-sizing: border-box;
}

a {
    color: var(--color-blue);
    text-decoration: none;
}

a:hover {
    opacity: 0.9;
}

h2 {
    font-size: 24px;
    color: var(--color-light-grey);
}